./Module_2_Object_Detection_With_SSD/ssd300_mAP_77.43_v2.pth
./Module_2_Object_Detection_With_SSD/Homework/ssd300_mAP_77.43_v2.pth
./Module_2_Object_Detection_With_SSD/ssd300_mAP_77.43_v2.pth
./Module_2_Object_Detection_With_SSD/Homework/ssd300_mAP_77.43_v2.pth
